@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto&family=Rock+Salt&family=Satisfy&display=swap');
:root {
  --color-light-blue: #E9E7E8;
  --color-blue: #DBDBDB;
  --color-brown: #B09F85;
  --color-dark-brown: #917864;
  --color-tan: #DCC7AC;
  --color-off-white: #EBE2D1;
  --font-sat: 'Satisfy', cursive;
  --font-poi: 'Poiret One', cursive;
  --font-rs: 'Rock Salt', cursive;
  --font-rob: 'Roboto', sans-serif;
}


* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-blue);
  /* justify-content: center; */
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: var(--font-poi), sans-serif;
}
h3 {
  font-family: var(--font-sat), sans-serif;
}

strong {
  font-weight: 300;
}
/* for select a diet, add/exclude ingredients */
label {
  font-size: 1.75em;
  display:block;
  margin-top: 10px;
  font-family: var(--font-poi);
  /* background-color: blue; */
}

/* used for tab key on keyboard */
:focus {
  outline: 3px solid var(--color-dark-brown);
  outline-offset: 6px;
}

.container-app {
  min-height: calc(100vh - 135px);
  max-width: 90vw;
  margin: auto;
}

.container-flex {
  padding-top: 10px;
}

/* NAV BAR */
.topnav {
  overflow: hidden;
  background-color: var(--color-dark-brown);
  padding: 10px;
  color: var(--color-light-blue);
  font-family: var(--font-rs), sans-serif;
  font-size: 1.75em;
}

/* BTNS */

.btn{
  font-family: var(--font-rob);
  background-color: var(--color-brown);
  font-size: 1.1em;
  border: none;
  padding: .4em;
  margin: 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0px grey;
  /* margin: 0; */
  cursor: pointer;
  /* text-decoration: none; */
  /* border-bottom: solid 4px var(--color-dark-green); */
  /* text-decoration: none; */
}
.btn:hover {
    background-color: var(--color-dark-brown);
  }

  .diet > .container-flex {
    text-align: center;
    /* padding: 1em; */
    margin: auto;
    max-width: 700px;
    padding-top: 10px;
    position: relative;
  }

  .diet > .container-flex > .btn {
    padding: 20px;
    margin: 30px 50px;
    display: inline-block;
    /* text-align: center; */
    /* vertical-align: middle; */
  }

.container-ing-flex .btn {
  margin-left: 0;
  /* float: right; */
}
/* FOOTER */
.footer {
  background-color: var(--color-dark-brown);
  padding: 10px;
  /* position: relative; */
  /* top: 100px; */
}

.footer a {
  background: inherit;
  color: black;
}

.footer a:hover {
  color: var(--color-off-white);
}

/* DIET FORM */



/* LISTS - INGREDIENTS */
/* li {
  list-style: none;
  border: 5px solid blue;
} */
.ing-form {
    border:none;
    padding: 1em;
    border-bottom: 1px solid var(--color-dark-brown);
}

.container-ing-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.container-ing-flex p {
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.mappedIngs {
  max-width: 300px;
  margin: auto;
  /* padding: 0 55px; */
}

h5 {
  font-size: 1.4em;
  font-weight: normal;
  font-family: var(--font-poi), Arial;
}

 h6 {
  font-size: 1.1em;
  font-weight: normal;
  font-family: var(--font-rob), sans-serif;
}

/* RECIPE CARDS */
@media(max-width: 768px) {
  .main-container {
    top: 50%;
    transform: translateX(15%);
  }
}
@media(min-width: 768px) {
  .container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .diet .container-flex {
    padding-top: 50px;
  }
  .mappedIngs {
    max-width: 75vw;
    margin: auto;
  }
  .card-container img {
    width: 80%;
  }
}

/* holds all elements, determines size of card */
.main-container {
  position: relative;
  left: 10px;
  flex-basis: 200px;
/* above is width for flexbox */
  min-height: 250px;
  /* height: auto; */
  margin: 10px;
  width: 70%;
}

/* card container holds the FRONT and BACK elements, controls hover */
.card-container {
  border: 1px solid var(--color-tan);
  box-shadow: 0px 2px 6px grey;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to bottom right, var(--color-dark-brown), var(--color-brown));
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  flex-wrap:wrap;
  transform-style: preserve-3d;
  /* allows us to have a front and back side of the card */
  transition: all .75s ease;
}

 .card-front {
   position: absolute;
   width: 100%;
   backface-visibility: hidden;
   background: transparent;
   /* if visible, will cause a flicker effect with the 3d layers */
 }
.card-front h2 {
  color: var(--color-tan);
  font-size: 1.3em;
  margin: 0 5px 15px;
  /* padding: 0 3px; */
}

.card-back h3, .card-back p, .card-back a, .card-front h2, .results-maybe h3, .results-maybe p {
  background: transparent;
}

.card-back p, .results-maybe p {
  margin: 5px 0 15px 0;
  font-size: .8em;
}

.card-back h3, .results-maybe h3 {
  margin: 5px 0;
  font-family: var(--font-poi);
  font-size: 1.25em;
}

.results-searched {
  color: #325228;
}
.results-missed{
  color: black;
}

.results-maybe {
  background: transparent;
  color: var(--color-off-white);
}

.card-back a {
  color: var(--color-blue);
  /* margin-top: 15px; */
  display: block;
}

.card-back a:hover{
  color: var(--color-tan);
  /* font-weight: bold; */
}

 .card-back {
   position: absolute;
   width: 100%;
   backface-visibility: hidden;
   transform: rotateY(180deg);
     background: transparent;
     /* padding-bottom: 20px; */
     padding: 0 13px 20px 13px;
 }

.card-container:hover{
  /* background-color: var(--color-brown); */
  transform: rotateY(180deg);
}
 .card-container img {
   max-height: 9em;
   max-width: 100%;
 }

 .card-container:hover .card-front {
   opacity: 0;
   visibility: hidden;
   transition: opacity 1s ease-in, visibility .75s linear;
 }
